*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    background-color: aliceblue;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  button{
    background-color: #333;
    padding: 0;
    cursor: pointer;
}
@media(max-width : 410px){
    header h2{
        display: none;
    }
    footer img{
        display: none;
    }
}